
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">All Watches</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Craft</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Shipping & Returns</a></li>
        <li><a href="#">Warranty</a></li>
      </ul>
    </div>

   <div class="footer-col">
  <h4>Connect</h4>
  <div class="social-icons">
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
  </div>
</div>
  </div>

  <div class="footer-bottom">
    <p>© <%= new Date().getFullYear() %> Chronora. All Rights Reserved.</p>
  </div>
</footer>
