<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title || 'Chronora' %></title>

  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-KxQ4L6f3ZXZy1PmtvY3yR9/xr6mV3rBqGkO3pQxqNR6GL5sH+LqfOGuk7YtQvIY1oFpg1FzXKZ4QmKX1zQxYKw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>  
<link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <style>
    :root { --header-height: 70px; }
    body { 
      margin: 0; 
      padding-top: var(--header-height); 
      background: #0f0f1a; 
      color: white; 
      font-family: 'Segoe UI', sans-serif;
    }
  </style>
</head>
<body>

  <%- include('../../partials/user/header') %>

  <main id="main">
    <%- body %>
  </main>

  <%- include('../../partials/user/footer') %>

  <script src="/js/main.js"></script>
</body>
</html>
