<link rel="stylesheet" href="./css/user/logout.css">


<div class="logout-container">
  <h1 class="logout-title"><%= title || 'Chronora - Logout' %></h1>

  <p class="logout-info">
    You are logged in as
    <strong><%= (session && session.user) ? session.user.fullName : 'Guest' %></strong>
  </p>

  <form class="logout-form" action="/logout" method="post">
    <button class="btn btn-confirm" type="submit">Confirm Logout</button>

    <a href="/home" class="btn btn-cancel">Cancel</a>
  </form>
</div>


